:root {
  /* default theme color
     can be overridden by uses `themeConfig` option
  --slidev-theme-primary: #5d8392; */
}

.bsc-cover {
  @apply h-full grid;

  height: 100%;

  .my-title {
    background-image: url('/images/bsc-bg.jpg');
    background-size: cover;
    padding-top: 200px;
    padding-left: 400px;
    height: 100%;

    .title {
      text-align: left;
      font-weight: bold;
      font-size: 5rem !important;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    padding: 0 0;
    font-weight: bold;
    display: grid;
    grid-template-columns: 33% 67%;
    min-width: 100%;

    div {
      padding: 20px 0;
    }

    div.date {
      color: white;
    }

    div.venue {
      color: #004890;
      text-align: left;
      padding-left: 75px;
    }
  }
}

.bsc-default {
  background-image: url('/images/bsc-bg2.jpg');
  background-size: cover;

  h1 {
    font-size: 2rem;
    display: block;
  }

  .center1 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
  }
  .center1 > * {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }

  .center2 {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
  }
  .center2 + * {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
  }
}

.slidev-layout.cover,
.slidev-layout.intro {
  @apply h-full grid;

  h1 {
    @apply text-6xl leading-20;
  }

  h1 + p {
    @apply -mt-2 opacity-50 mb-4;
  }

  p + h2, ul + h2, table + h2 {
    @apply mt-10;
  }
}
